@import url("https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:wght@100;300&family=Nunito+Sans:wght@300&family=Work+Sans:wght@400;700;900&display=swap");

body [data-theme="mixed"] {
  --color-primary-100: #2079ee;
  --color-primary-200: #4f87f0;
  --color-primary-300: #6c95f3;
  --color-primary-400: #85a3f5;
  --color-primary-500: #9cb2f7;
  --color-primary-600: #b1c1f9;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #0a1236;
  --color-surface-200: #24274a;
  --color-surface-300: #3d3e5e;
  --color-surface-400: #050505;
  --color-surface-500: #71708a;
  --color-surface-600: #8c8ba0;
   /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #15387a;
  --color-surface-mixed-200: #374b88;
  --color-surface-mixed-300: #515f97;
  --color-surface-mixed-400: #6a74a5;
  --color-surface-mixed-500: #828ab4;
  --color-surface-mixed-600: #9ba0c3;
}

/* :root {
  --time: 0.5s;
  --text: #030e1c;
  --assets: black;
  --assets-search: #0000005c;
  --message-input: rgba(202, 200, 200, 0.226);
  --background: #f0f6ff;
  --contacts: #d5e6fb;
  --contacts-messages-count: #74c0e4c4;
  --blue: #00aeff;
  --secondary: #c2daf9;
  --red: red;
  --accent: #146bdb;
  --message: #2079eee3;
  --gray-message: #d6d6d6;
  --body-background: #2079ee;
  --logo-primary: #146bdb;
  --logo-secondary: #1158b6;
  --gray: #808080;
  --placeholder: #7f7b7b;
  --border: rgba(173, 169, 169, 0.295);
}  */

:root {
  --time: 0.5s;
  --text: #ffffff;
  --assets: rgb(255, 255, 255);
  --assets-search: #ffffff;
  --message-input: rgb(48 52 99 / 98%);
  --background: rgba(36, 39, 74, 0.95);
  --contacts: #1D2043;
  --contacts-messages-count: #74c0e4c4;
  --blue: #00aeff;
  --secondary: #c2daf9;
  --red: red;
  --accent: #146bdb;
  --message: #296AC0;
  --gray-message: #71708A;
  --body-background: rgba(36, 39, 74, 0.95);
  --logo-primary: #146bdb;
  --logo-secondary: #1158b6;
  --gray: #808080;
  --placeholder: #ffffffcc;
  --border: rgba(173, 169, 169, 0.295);
  /* transition: background-color 2s ease-in-out; */
  --shadow-glow: rgb(74 34 144 / 86%);
} 

[data-theme="dark-yell"] {
  --message-input: #f5ff8159;
  --border: rgba(173, 169, 169, 0.295);
  --body-background: #2C2C2C;
  --text: #ffffff;
  --assets: rgb(255, 255, 255);
  --assets-search: #ffffff;
  --background: #2C2C2C;
  --contacts: #232323;
  --contacts-messages-count: #f5ff8159;
  --message: #f5ff817c;
  --gray-message: #f5ff8134;
  --placeholder: #ffffff9c;
  /* transition: background-color 2s ease-in-out; */
  --shadow-glow: #f5ff818a;

}

[data-theme="dark-blue"] {
  --message-input: rgb(48 52 99 / 98%);
  --border: rgba(173, 169, 169, 0.295);
  --body-background: rgba(36, 39, 74, 0.95);
  --text: #ffffff;
  --assets: rgb(255, 255, 255);
  --assets-search: #ffffff;
  --background: rgba(36, 39, 74, 0.95);
  --contacts: #1D2043;
  --contacts-messages-count: #296AC0;
  --message: #296AC0;
  --gray-message: #71708A;
  --placeholder: #ffffffcc;
  /* transition: background-color 0.1s ease-in-out; */
  --shadow-glow: rgb(74 34 144 / 86%);
}

body,
html {
  box-sizing: border-box;
  background-color: var(--body-background);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  /* overflow-y: hidden; */
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
span,
p,
h1 {
  color: var(--text);
}
.d-none {
  display: none !important;
}
input:focus {
  outline: none;
}
input{
  color: var(--text);
}
input::placeholder {
  color: var(--placeholder);
}
/* Hide scrollbar track and buttons (for Webkit based browsers) */
::-webkit-scrollbar {
  width: 0.5em; /* Adjust this width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Optional: Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Add a hover effect */
}

/* Optional: Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the track */
}
.shadow {
  box-shadow: -11px 14px 38px -40px rgba(0, 0, 0);
}

.protected-routes {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.theme-change {
  transition: background-color var(--time), color var(--time);
}