.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.dashboard-main {
  border-radius: 40px 40px 0 0;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow-y: hidden;
}
.contact {
  box-sizing: border-box;
  border-radius: 20px 0 0 0;
  height: 100%;
  width: 30%;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  gap: 0.6rem;
  margin: 0;
}
.expand-contact {
}
.contact .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.contact .profile-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: fit-content;
}
.contact .profile-info span {
  font-size: 1.5rem;
}
.contact .profile .profile-icon {
  border-radius: 49%;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: var(--background);
}

.contact .profile .options img {
  width: 30px;
  aspect-ratio: 1;
}

.contact .search-bar {
  position: relative;
  width: 100%;
  height: 5rem;
  border-top: 1px solid rgba(59, 59, 59, 0.171);
  border-bottom: 1px solid rgba(59, 59, 59, 0.171);
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 1rem;
  box-sizing: border-box;
  position: relative;
}
.contact .search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 0px;
  background-color: transparent;
  font-size: 1rem;
}
.contact .search-bar img {
  width: 30px;
  height: 30px;
  align-self: center;
}

.contact .contact-people-list {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  overflow-y: auto;
}
.chat-nav {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(59, 59, 59, 0.171);
}
.chat {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.chat .profile {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  gap: 0.7rem;
}
.chat .profile .profile-img {
  object-fit: cover;
  width: fit-content;
}
.chat .profile .profile-img img {
  border-radius: 50%;
  width: 64px;
  aspect-ratio: 1;
}
.chat .profile span {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.chat .profile p {
  margin: 0;
}
.chat .profile section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.chat .chat-nav {
  padding: 1rem 1rem;
}
.chat .chat-nav .icons-container {
  display: flex;
  gap: 1rem;
}
.chat .chat-nav .icons-container #search {
  width: 35px;
  aspect-ratio: 1;
}
.chat .chat-nav .icons-container #dots {
  width: 35px;
  aspect-ratio: 1;
}
.chat .chat-main {
  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: end;
}

.chat .chat-toolbar {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  gap: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}
.chat-toolbar .emoji {
  height: 60px;
  aspect-ratio: 1;
  background-color: var(--primary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -11px 14px 29px -3px rgba(0, 0, 0, 0.35);
}
.chat-toolbar .emoji img {
  width: 60%;
  height: 60%;
  stroke: #f0f6ff !important;
  fill: #f0f6ff !important;
}
.chat-toolbar .input-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 60px;
  display: grid;
  align-items: center;
}
.chat-toolbar .input-container input {
  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border: none;
  box-shadow: -11px 14px 29px -10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -11px 14px 29px -3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -11px 14px 29px -3px rgba(0, 0, 0, 0.35);
  font-size: large;
}

/* media quarys */
@media (max-width: 1399px) {
  .collapsed-contact {
    width: fit-content;
  }
  .collapsed-contact .profile span,
  .collapsed-contact .profile .options {
    display: none;
  }
  .collapsed-contact .search-bar {
    display: none;
  }
  .contact {
    min-width: max-content;
  }
}
@media (max-width: 591px) {
  .collapsed-contact {
    display: none;
  }
  .contact {
    min-width: 100%;
  }
  .dashboard-main {
    overflow-x: hidden;
  }
}
@media (max-width: 799px) {
  .chat .chat-toolbar {
    padding: 0.5rem 5px;
  }
  .chat-toolbar .emoji {
    height: 70px;
  }
}
@media (max-width: 373px) {
  .chat .chat-nav #search {
    display: none;
  }
}
