.emoji-container {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--light-blue);
  position: absolute;
  bottom: 10%;
  left: 25%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  transition: all 1s linear;
  border-radius: 25px;
}
.offscreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.hide {
  display: none;
}
.emoji-container input {
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(190, 190, 190, 0.63);
}
.emoji-container section {
  box-sizing: border-box;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
  gap: 10px;
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
     */
}
.emoji-container .emoji {
  max-width: 20px;
  max-height: 20px;
  flex: 1;
  flex: 0 0 calc(33.33% - 20px);
  cursor: pointer;
}

/* media quarys */
@media (max-width: 1399px) {
  .emoji-container {
    left: 15%;
  }
}
@media (max-width: 360px) {
  .emoji-container {
    left: 0;
    width: 250px;
    height: 400px;
  }
}
