.login-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: darken(var(--body-background), 0%);

}
.login-main{
    width: 20rem;
    height: 32rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 0px 0px 9px 2px var(--shadow-glow);
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    gap: 1rem;

}
.login-main form {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}
.login-main form span {
    margin-left: 3px;
    font-size: 1rem;
}
.login-email .invalid, .login-password .invalid{
    float: left;
    margin: 0;
    margin-left: 3px;
    font-size: .9rem;
    color: red;
}
.login-main h1 {
    font-weight:500;
    font-size: x-large;
}
.login-email {
    display: flex;
    flex-direction: column;
}
.login-password {
    display: flex;
    flex-direction: column;
}
.login-main input[type="text"], .login-main input[type="password"] {
    border: none;
    background-color: transparent;
    padding: 1rem;
    padding-left: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 10px;
}
.login-main form button {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--message);
    border-radius: 12px;
    border: none;
    box-shadow: 5px 12px 20px -18px rgba(0,0,0);
    color: #ffffff;
    font-size: larger;
    transition: all 0.1s ease-in-out;
}
.login-main form button:hover {
    background-color: #2079eead;
}
.forgot-password{
    align-self: flex-end;
    color: gray;
    text-decoration: none;
}
.forgot-password:hover{
    color: rgba(128, 128, 128, 0.445);
}

.login-options {
    width: calc(100% - 10px);
    border-top: 1px solid rgba(204, 204, 204, 0.719);
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    justify-self: center;
    align-self: center;
  }
.login-options::after{
    content: "OR";
    box-sizing: border-box;
    width: auto;
    position: absolute;
    height: auto;
    width: auto;
    top: -11%;
    z-index: 2;
    border-radius: 5px;
    color: var(--text);
    background-color: var(--background);
    padding: 0 4px;
}
.login-main .nav-register {
    justify-self: center;
    align-self: center;
}
.nav-register #navigate {
    cursor: pointer;
    color: rgb(129 19 233);
    text-decoration: underline;
}