.message-container {
    width: 100%;
}
.message {
    max-width: 40%;
    width: fit-content;
    height: fit-content;
    word-wrap: normal;
    background-color: var(--gray-message);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color:black;
    display: block;
    align-items: center;

    
}
.message span {
    word-wrap: normal;
    width: auto;
    font-weight:500;

}
.message p {
    margin: 1rem;
    font-size: 0.7rem;
    font-weight:lighter;
    float: right;
}

.your-message{
background-color: var(--message);
float: right !important;
}
.your-message span{
  color:rgb(255, 255, 255) !important;
  }
/* media quarys */
@media (max-width: 894px) {
    .message {
      max-width: 80%;
    }
  }
  @media (max-width: 484px) {
    .message {
      max-width: 100%;
    }
  }